# IDEs
.idea
.junie
.output.txt
*.DotSettings.user
.vs
.vscode

# .NET
[Bb]in
[Oo]bj
[Pp]ublish
appsettings.Development.json

# Helm
values.secrets.yaml

# OS
.DS_Store
Thumbs.db

# CI
.teamcity/target

# Other
.env*
test-payload.json
