{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://*:5000"
      }
    }
  },
  "OPENAI_API_KEY": "sk-XXX-YYY",
  "OPENAI_MODEL": "gpt-5",
  "TELEGRAM_BOT_TOKEN": "123:ZZZ",
  "TELEGRAM_BOT_SECRET": "AAA"
}
