{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://localhost:80"
      },
      "Https": {
        "Url": "https://localhost:443"
      }
    }
  },
  "AllowedHosts": "*",
  "OPENAI_API_KEY": "Your OpenAI API key (see README.md)",
  "TELEGRAM_BOT_TOKEN": "Your Telegram bot token (see README.md)",
  "TELEGRAM_BOT_SECRET": "Your Telegram bot secret (see README.md)"
}
